<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal's Car Garage</title>
</head>
<body style="background-image: url('/carpics/fd.jpeg');">
    <h1 style="color: aliceblue;">Cars for sale!</h1>
    <h2 style="color:aliceblue">Welcome to Crystal's Garage, </br> where you get the best car deals!</h2>
</br>
    <a href="/cars/starlet"><img width="250" src="/carpics/starlet.jpeg"/>
    <a href="/cars/forester"><img width="250" src="/carpics/forester.jpeg"/>
    
    
    
</body>
</html>